// --------------------------
// Variables
// --------------------------

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$brand-primary : #ffe8dd;
$nav-color : #247cff;
$title-color: rgb(24, 88, 207);
$link-hover: rgb(161, 161, 161);

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Overlock+SC&display=swap');

$nav-font: 'Overlock SC';
$title-font: 'Fredericka the Great';